.carrossel__titulo {
    background-color: var(--branco);
    padding: 1em 0 0.5em 0;
    color: var(--laranja);
    text-align: center;
    text-transform: uppercase;
    font-size: 1.1em;
    font-weight: 700;
}